/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Example Google Fonts link, make sure to add this in public/index.html */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  background-color: #1A2238; /* Use the dark-blue color */
  color: #F7F7F7;            /* Use the light-text color */
  font-family: 'Montserrat', sans-serif; /* Example font */
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}